/* Small Screen */
.container {
    background-color: #06D6A0;
    padding: 1rem;
    color: #ffff;   
    font-family: 'Poppins', sans-serif;
}

.navbar__brand{
  padding: 1rem;  
}      

.navbar__list{
    list-style: none;
}

.navbar__item{
    margin-bottom: 1rem;
}

/* Medium Screen */
@media (min-width: 768px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .container{
        padding: 0 5rem;
    }

    .navbar__list{
        display: flex;
        flex-direction: row;
    }

    .navbar__item{
        margin: 0 1rem;
    }
}