.container{
    padding: 5rem 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #d2fff3;

}

.global{
    text-align: center;
}

.global__title{
    line-height: 70%;

}

.global__title h2{
    font-size: 40px;
    color: #06D6A0;
}

.global__title p{
    color: #118AB2;
    font-size: 20px;
}

.global__container{
    padding: 0 3rem;
}


@media (min-width: 768px) {
    .container{
        margin: 1rem auto;
    }
    .global__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 5rem;
    }
}